<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>304571751866-8khl3376kj5r88h70upf1kfud7470p80.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.304571751866-8khl3376kj5r88h70upf1kfud7470p80</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>304571751866-ae9qq5i2uiii54j4edmqj8cgg6luvmgs.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyCG6WX4UxkSduLcpgiZxUWt2Fld87MCaFg</string>
	<key>GCM_SENDER_ID</key>
	<string>304571751866</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.travelties.travelties</string>
	<key>PROJECT_ID</key>
	<string>travelties-fce2c</string>
	<key>STORAGE_BUCKET</key>
	<string>travelties-fce2c.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:304571751866:ios:3c4c23d37738a7f36ed183</string>
</dict>
</plist>